<template>
    <div class="userMangement">
        <!-- 使用者搜尋區塊 -->
        <div class="search_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
                        <div class="block">
                            <!-- 平台角色 -->
                            <div class="group">
                                <label class="lblRoles">平台角色</label>
                                <select class="seleRoles" v-model="userInfoForm.roles" @change="changeSearchModel(true)">
                                    <option :value="``">全部</option>
                                    <option :value="`supper`">超級帳號</option>
                                    <option :value="`middle`">中級帳號</option>
                                    <option :value="`general`">普通帳號</option>
                                </select>
                            </div>
                            
                            <!-- 狀態 -->
                            <div class="group">
                                <label class="lblStatus">狀態</label>
                                <select class="seleStatus" v-model="userInfoForm.status" @change="changeSearchModel(true)">
                                    <option :value="``">全部</option>
                                    <option :value="`1`">正常</option>
                                    <option :value="`0`">停用</option>
                                </select>
                            </div>
                            
                            <!-- 使用者名稱/帳號 -->
                            <div class="group">
                                <input class="inpSearch" type="text" placeholder="請輸入使用者名稱/帳號" v-model="userInfoForm.type">
                                <button class="btnSearch" @click="changeSearchModel(true)">搜尋</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 功能區塊 -->
        <div class="controls_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <div class="group">
                                <button class="newUser" @click="addUserInfo()">新增使用者</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 使用者清單 -->
        <div class="userInfoList_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>使用者名稱</th>
                                        <th>權限</th>
                                        <th>帳號</th>
                                        <th>信箱</th>
                                        <th>手機</th>
                                        <th>狀態</th>
                                        <th colspan="2">管理動作</th>
                                    </tr>
                                </thead>

                                <tbody class="content" v-if="resGetUserInfo !== null && typeof(resGetUserInfo) === 'object'">
                                    <tr v-for="(item, index) in resGetUserInfo.userInfo" :key="index">
                                        <td v-text="index + nowPage * itemBarMenu - itemBarMenu + 1"></td>
                                        <td v-text="item.userName"></td>
                                        <td v-text="item.roles"></td>
                                        <td v-text="item.account"></td>
                                        <td v-text="item.email"></td>
                                        <td v-text="item.phone"></td>
                                        <td v-text="item.status == 1?'正常': '停用'"></td>
                                        <td>
                                            <button v-if="userName !== item.userName" class="btnEditor" @click="editUserInfo(item.userId)">編輯</button>
                                        </td>
                                        <td>
                                            <button v-if="userName !== item.userName" class="btnDelete" @click="deleteUserInfo(item.userId)">刪除</button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody class="content" v-else>
                                    <tr>
                                        <td colspan="9" v-text="resGetUserInfo"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 分頁器 -->
                        <Pagination v-if="resGetUserInfo !== null && typeof(resGetUserInfo) === 'object'"
                                    @changePage="handleChangePage"
                                    @changeSize="handleChangeSize"
                                    :defaultPage.sync="nowPage"
                                    :pageSize="itemBarMenu"
                                    :pageSizes="[10, 20, 30, 50, 100]"
                                    :total="resGetUserInfo.total"></Pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination/index.vue';
    import { GetUserInfoBase, GetUserInfoDetail, DeleteUserInfo } from '@/api/userInfo';
    import { mapGetters } from 'vuex';

    export default {
        name: 'userMangement',
        components: {
            Pagination
        },
        data() {
            return {
                nowPage: 1,
                itemBarMenu: 10, //接收 Pagination 組件回傳筆數
                resGetUserInfo: null, // 儲存 api 回傳資料
                model: true, //切換 api 呼叫模式，true 基本使用者搜尋 api，false 詳細使用者搜尋 api
                userInfoForm: {
                    roles: '',
                    status: '',
                    type: '',
                    page: this.nowPage,
                    itemBarMenu: this.itemBarMenu
                }
            }
        },
        mounted() {
            this.changeSearchModel();
        },
        updated() {
            if (this.userInfoForm.type === '')
            {
                this.model = true;
            }
            else
            {
                this.model = false;
            }
        },
        watch: {
            nowPage: {
                handler() {
                    this.changeSearchModel();        
                }
            },
            itemBarMenu: {
                handler() {
                    this.changeSearchModel();
                }
            }
        },
        methods: {
            addUserInfo() { //轉跳使用者新增頁面
                this.$router.push({path: '/userMangement/new'});
            },
            editUserInfo(userId) { //轉跳使用者修改頁面
                this.$router.push({path: `/userMangement/md/${userId}`});
            },
            getUserInfoBase(mode = false) { //呼叫 api
                const roles = this.userInfoForm.roles;
                const status = this.userInfoForm.status;
                const page = (mode === false) ? this.userInfoForm.page = this.nowPage : this.userInfoForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.userInfoForm.itemBarMenu = this.itemBarMenu;
                
                GetUserInfoBase(roles, status, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.resGetUserInfo = res.data.data;
                        }
                        else
                        {
                            this.resGetUserInfo = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        this.resGetUserInfo = error.data.message;
                    }
                });
            },
            getUserInfoDetail(mode = false) { //呼叫 api
                const roles = this.userInfoForm.roles;
                const status = this.userInfoForm.status;
                const type = this.userInfoForm.type;
                const page = (mode === false) ? this.userInfoForm.page = this.nowPage : this.userInfoForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.userInfoForm.itemBarMenu = this.itemBarMenu;

                GetUserInfoDetail(roles, status, type, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.resGetUserInfo = res.data.data;
                        }
                        else
                        {
                            this.resGetUserInfo = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        this.resGetUserInfo = error.data.message;
                    }
                });
            },
            deleteUserInfo(userId) {
                DeleteUserInfo(userId).then((res) => {
                    setTimeout(() => {
                        if (res.status === 200)
                        {
                            if (res.data.isSuccess === true)
                            {
                                alert(res.data.message);
                                this.changeSearchModel(true);
                            }
                            else
                            {
                                alert(res.data.message);
                            }
                        }
                    }, 1000);
                }).catch((error) => {
                    if (error.status === 400 || error.status === 403)
                    {
                        alert(error.data.message);
                    }
                });
            },
            changeSearchModel(mode = false) { //轉換搜尋模式
                this.resGetUserInfo = null;
                
                if (this.model)
                {
                    this.getUserInfoBase(mode);
                }
                else
                {
                    this.getUserInfoDetail(mode);
                }
            },
            handleChangePage(val) {  //分頁器 this.$emit 回傳頁碼
                this.nowPage = val;
            },
            handleChangeSize(val) { //分頁器 this.$emit 回傳筆數
                this.itemBarMenu = val;
            }
        },
        computed: {
            ...mapGetters([
                'userName'
            ])
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .userMangement
        .search_block
            .container-fuild
                padding: 30px 15px 0px 15px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-lg-12
                        .block
                            padding: 5px 10px
                            border: 1px solid darken($color_gray, 25)
                            background-color: $color_white

                            .group
                                display: inline-block
                                margin: 10px 10px

                                label.lblRoles, label.lblStatus
                                    margin-left: 10px
                                    margin-right: 10px
                                    
                                select.seleRoles, select.seleStatus
                                    outline: none
                                    padding: 7px 10px
                                    border: 1.5px solid darken($color_gray, 15)
                                    cursor: pointer
                                    border-radius: 2.5px
                                    transition: 0.5s

                                    &:hover
                                        border: 1.5px solid darken($color_gray, 50)

                                input.inpSearch
                                    margin-left: 10px
                                    margin-right: 10px
                                    padding: 5px 15px
                                    border-radius: 2.5px
                                    border: 1.5px solid darken($color_gray, 15)
                                    outline: none
                                    transition: 0.5s

                                    &:focus
                                        border: 1.5px solid $color_blue

                                button.btnSearch
                                    padding: 7px 30px
                                    background-color: $color_blue
                                    color: $color_white
                                    border: none
                                    border-radius: 5px
                                    outline: none
                                    transition: 0.5s

                                    &:hover
                                        background-color: lighten($color_blue, 5)

        .controls_block
            .container-fuild
                padding: 10px 10px
                
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .block
                            padding: 10px 5px
                            text-align: right

                            .group
                                display: inline-block

                                button
                                    padding: 10px 15px
                                    margin-left: 10px
                                    border-radius: 2.5px
                                    transition: 0.5s

                                button.newUser
                                    background-color: $color_white
                                    border: 1px solid darken($color_gray, 25)

                                    &:hover
                                        background-color: darken($color_gray, 5)

        .userInfoList_block
            .container-fuild
                padding: 0px 10px 30px 10px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                border: 1px solid darken($color_gray, 25)

                                thead.header
                                    tr
                                        background-color: $color_blue
                                        border-bottom: 1px solid darken($color_gray, 25)
                                        white-space: nowrap
                                        
                                        th
                                            padding: 10px 10px
                                            color: $color_white
                                            white-space: nowrap

                                        th:nth-child(1), th:nth-child(2) , th:nth-child(3) , th:nth-child(4) , th:nth-child(5),
                                        th:nth-child(6)
                                            text-align: center

                                        th:nth-child(7)
                                            text-align: left

                                tbody.content
                                    tr
                                        border-bottom: 1px solid darken($color_gray, 25)

                                        &:hover
                                            box-shadow: inset 8px 0px $color_blue

                                        td
                                            padding: 10px 10px
                                            white-space: nowrap

                                        td:nth-child(1), td:nth-child(2) , td:nth-child(3) , td:nth-child(4) , td:nth-child(5),
                                        td:nth-child(6)
                                            text-align: center

                                        td:nth-child(7)
                                            text-align: left

                                        button.btnEditor, button.btnDelete
                                            color: $color_white
                                            padding: 6px 30px
                                            border: none
                                            border-radius: 2.5px
                                            transition: 0.5s

                                        button.btnEditor
                                            background-color: $color_blue

                                            &:hover
                                                box-shadow: 0px 0px 15px darken($color_gray, 5)
                                                background-color: lighten($color_blue, 5)

                                        button.btnDelete
                                            background-color: $color_red

                                            &:hover
                                                box-shadow: 0px 0px 15px darken($color_gray, 5)
                                                background-color: lighten($color_red, 5)

                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    tr:nth-child(odd)
                                        background-color: $color_white
</style>