<template>
    <component
        class="menuLink"
        :class="{'active': isCollapse}"
        :is="type"
        v-bind="linkProps(to)"
    >
        <slot></slot>
    </component>
</template>

<script>
    import { isExternal } from '@/utils/validate.js';

    export default {
        props: {
            to: {
                type: String,
                require: true
            }
        },
        methods: {
            linkProps(to) {
                if (this.isExternal)
                {
                    return {
                        href: to,
                        target: '_blank',
                        rel: 'noopener'
                    }
                }

                return {
                    to: to
                }
            },
            isCollapse() {
                return this.$route.path === this.now_link;
            }
        },
        computed: {
            isExternal() {
                return isExternal(this.to);
            },
            type() {
                if (this.isExternal) 
                {
                    return 'a';
                }

                return 'router-link';
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    a.menuLink
        display: block
        text-decoration: none
        color: lighten($color_gray, 5)
        font-size: 16px
</style>