<template>
    <div class="sidebar_logo_container">
        <router-link class="homeLink" to="/dashboard/index">
            <h1 class="title"  v-text="title"></h1>
        </router-link>
    </div>
</template>

<script>
    import defaultSettings from '@/settings.js'

    export default {
        name: 'Logo',
        data() {
            return {
                title: defaultSettings.title
            }
        }
    }
</script>

<style lang="sass">
    @import '@/styles/color.sass'
    
    .sidebar_logo_container
        width: 100%
        text-align: left
        overflow: hidden
        background-color: darken($color_blue, 10)
        padding: 15px 15px

        a.homeLink
            display: block
            color: $color_white
            text-decoration: none

            h1.title
                font-size: 20px
                color: $color_white
                text-decoration: none
                font-weight: 900
</style>