<template>
    <div class="systemPost">
        <!-- 搜尋區塊 -->
        <div class="search_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <div class="group">
                                <label class="lblStatus">發佈狀態</label>
                                <select class="selePublish" v-model="systemPostForm.publish" @change="changeSearchModel(true)">
                                    <option :value="``">全部</option>
                                    <option :value="`1`">發佈</option>
                                    <option :value="`0`">草稿</option>
                                </select>
                            </div>

                            <div class="group">
                                <input class="inpSearch" type="text" placeholder="請輸入標題" v-model="systemPostForm.postTitle">
                                <button class="btnSearch" @click="changeSearchModel(true)">搜尋</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 功能區塊 -->
        <div class="controls_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <div class="group">
                                <button class="btnNewPost" @click="addSystemPost()">新增公告</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 系統公告區塊 -->
        <div class="system_post_list_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>#</th>
                                        <th>公告標題</th>
                                        <th>公告訊息</th>
                                        <th>狀態</th>
                                        <th>建立日期</th>
                                        <th>建立時間</th>
                                        <th colspan="3">管理動作</th>
                                    </tr>
                                </thead>

                                <tbody class="content" v-if="resSystemPost !== null && typeof(resSystemPost) === 'object'">
                                    <tr v-for="(item, index) in resSystemPost.systemPostInfo" :key="index">
                                        <td v-text="index + nowPage * itemBarMenu - itemBarMenu + 1"></td>
                                        <td v-text="(item.postTitle.length > 20) ? `${item.postTitle.substr(0, 20)}...`: `${item.postTitle}`"></td>
                                        <td v-text="(item.postMessage.length > 20) ? `${item.postMessage.substr(0, 20)}...`: `${item.postMessage}`"></td>
                                        <td v-text="(item.publish === '1') ? '發佈': '草稿'"></td>
                                        <td v-text="formatDate(item.sDate)"></td>
                                        <td v-text="formatTime(item.sTime)"></td>
                                        <td>
                                            <button class="btnEditor" @click="editSystemPost(item.systemPostId)">編輯</button>
                                        </td>
                                        <td>
                                            <button class="btnPost" v-text="item.publish === '1'? '草稿': '發佈'" @click="updateSystemPostStatus(item.systemPostId, item.publish)"></button>
                                        </td>
                                        <td>
                                            <button class="btnDelete" @click="deleteSystemPost(item.systemPostId)">刪除</button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody class="content" v-else>
                                    <tr>
                                        <td colspan="7" v-text="resSystemPost"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 分頁器 -->
                        <Pagination v-if="resSystemPost !== null && typeof(resSystemPost) === 'object'"
                                    @changePage="handleChangePage"
                                    @changeSize="handleChangeSize"
                                    :defaultPage.sync="nowPage"
                                    :pageSize="itemBarMenu"
                                    :pageSizes="[10, 20, 30, 50, 100]"
                                    :total="resSystemPost.total"></Pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination/index.vue';
    import { mapGetters } from 'vuex';
    import { FormatDate, FormatTime } from '@/utils/date.js';
    import { GetSystemPostBase, GetSystemPostDetail, UpdateSystemPostPulish, DeleteSystemPost } from '@/api/systemPost.js';

    export default {
        name: 'systemPost',
        components: {
            Pagination
        },
        data() {
            return {
                model: true,
                resSystemPost: null,
                nowPage: 1,
                itemBarMenu: 10,
                systemPostForm: {
                    publish: '',
                    postTitle: '',
                    page: 1,
                    itemBarMenu: 10
                }
            }
        },
        mounted() {
            this.changeSearchModel();
        },
        updated() {
            if (this.systemPostForm.postTitle === '')
            {
                this.model = true;
            }
            else
            {
                this.model = false;
            }
        },
        watch: {
            nowPage: {
                handler() {
                    this.changeSearchModel();
                }
            },
            itemBarMenu: {
                handler() {
                    this.changeSearchModel();
                }
            }
        },
        methods: {
            addSystemPost() {
                this.$router.push('/systemPost/new');
            },
            editSystemPost(systemPostId) {
                this.$router.push(`/systemPost/md/${systemPostId}`);
            },
            getSystemPostBase(mode = false) { //取得系統公告基本資訊
                const publish = this.systemPostForm.publish;
                const page = (mode === false) ? this.systemPostForm.page = this.nowPage : this.systemPostForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.systemPostForm.itemBarMenu = this.itemBarMenu;
                
                GetSystemPostBase(publish, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.resSystemPost = res.data.data;
                        }
                        else
                        {
                            this.resSystemPost = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        this.resSystemPost = error.data.message;
                    }
                });
            },
            getSystemPostDetail(mode = false) { //取得系統公告詳細資訊
                const publish = this.systemPostForm.publish;
                const postTitle = this.systemPostForm.postTitle;
                const page = (mode === false) ? this.systemPostForm.page = this.nowPage : this.systemPostForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.systemPostForm.itemBarMenu = this.itemBarMenu;
                
                GetSystemPostDetail(publish, postTitle, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.resSystemPost = res.data.data;
                        }
                        else
                        {
                            this.resSystemPost = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        this.resSystemPost = error.data.message;
                    }
                });
            },
            updateSystemPostStatus(systemPostId, publish) {
                const userName = this.userName;

                UpdateSystemPostPulish(systemPostId, publish, userName).then((res) => {
                    setTimeout(() => {
                        if (res.status === 200)
                        {
                            if (res.data.isSuccess === true)
                            {
                                alert(res.data.message);
                                this.changeSearchModel();
                            }
                            else
                            {
                                alert(res.data.message);
                            }
                        }
                    }, 1000);
                }).catch((error) => {
                    setTimeout(() => {
                        if (error.status === 400 || error.status === 403)
                        {
                            alert(error.data.message);
                        } 
                    }, 1000);
                });
            },
            deleteSystemPost(systemPostId) {
                DeleteSystemPost(systemPostId).then((res) => {
                    setTimeout(() => {
                        if (res.status === 200)
                        {
                            if (res.data.isSuccess === true)
                            {
                                alert(res.data.message);
                                this.changeSearchModel(true);
                            }
                            else
                            {
                                alert(res.data.message);
                            }
                        }
                    }, 1000);
                }).catch((error) => {
                    if (error.status === 400 || error.status === 403)
                    {
                        alert(error.data.message);
                    }
                });
            },
            formatDate(date) {
                return FormatDate(date);
            },
            formatTime(time) {
                return FormatTime(time);
            },
            changeSearchModel(mode = false) { //搜尋模式
                this.resSystemPost = null;

                if (this.model === true)
                {
                    this.getSystemPostBase(mode);
                }
                else
                {
                    this.getSystemPostDetail(mode);
                }
            },
            handleChangePage(val) {
                this.nowPage = val;
            },
            handleChangeSize(val) {
                this.itemBarMenu = val;
            }
        },
        computed: {
            ...mapGetters([
                'userName'
            ])
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .systemPost
        .search_block
            .container-fuild
                padding: 30px 15px 0px 15px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .block
                            padding: 5px 10px
                            border: 1px solid darken($color_gray, 25)
                            background-color: $color_white

                            .group
                                display: inline-block
                                margin: 10px 10px

                                label.lblStatus
                                    margin-left: 10px
                                    margin-right: 10px

                                select.selePublish
                                    outline: none
                                    padding: 7px 10px
                                    border: 1.5px solid darken($color_gray, 15)
                                    cursor: pointer
                                    border-radius: 2.5px
                                    transition: 0.5s

                                    &:hover
                                        border: 1.5px solid darken($color_gray, 50)

                                input.inpSearch
                                    margin-left: 10px
                                    margin-right: 10px
                                    padding: 5px 15px
                                    border-radius: 2.5px
                                    border: 1.5px solid darken($color_gray, 15)
                                    outline: none
                                    transition: 0.5s

                                    &:focus
                                        border: 1.5px solid $color_blue

                                button.btnSearch
                                    padding: 7px 30px
                                    background-color: $color_blue
                                    color: $color_white
                                    border: none
                                    border-radius: 5px
                                    outline: none
                                    transition: 0.5s

                                    &:hover
                                        background-color: lighten($color_blue, 5)

        .controls_block
            .container-fuild
                padding: 10px 10px
                
                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .block
                            padding: 10px 5px
                            text-align: right

                            .group
                                display: inline-block

                                button
                                    padding: 10px 15px
                                    margin-left: 10px
                                    border-radius: 2.5px
                                    transition: 0.5s

                                button.btnNewPost
                                    background-color: $color_white
                                    border: 1px solid darken($color_gray, 25)

                                    &:hover
                                        background-color: darken($color_gray, 5)

        .system_post_list_block
            .container-fuild
                padding: 0px 10px 30px 10px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .scroll
                            width: 100%
                            border: 1px solid darken($color_gray, 25)
                            overflow-x: auto
                            overflow-y: hidden

                            table
                                width: 100%
                                border: 1px solid darken($color_gray, 25)

                                thead.header
                                    tr
                                        background-color: $color_blue
                                        border-bottom: 1px solid darken($color_gray, 25)
                                        white-space: nowrap
                                        
                                        th
                                            padding: 10px 10px
                                            color: $color_white
                                            white-space: nowrap

                                        th:nth-child(2) , th:nth-child(3), th:nth-child(5)
                                            text-align: left

                                        th:nth-child(1), th:nth-child(4)
                                            text-align: center

                                tbody.content
                                    tr
                                        border-bottom: 1px solid darken($color_gray, 25)

                                        &:hover
                                            box-shadow: inset 8px 0px $color_blue

                                        td:nth-child(2) , td:nth-child(3), td:nth-child(5)
                                            text-align: left

                                        td:nth-child(1), td:nth-child(4)
                                            text-align: center

                                        td
                                            padding: 10px 10px
                                            white-space: nowrap

                                            button.btnEditor, button.btnPost, button.btnDelete
                                                color: $color_white
                                                padding: 6px 30px
                                                border: none
                                                border-radius: 2.5px
                                                transition: 0.5s

                                            button.btnEditor
                                                background-color: $color_blue

                                                &:hover
                                                    box-shadow: 0px 0px 15px darken($color_gray, 5)
                                                    background-color: lighten($color_blue, 5)

                                            button.btnPost
                                                background-color: darken($color_gray, 50)

                                                &:hover
                                                    box-shadow: 0px 0px 15px darken($color_gray, 5)
                                                    background-color: darken($color_gray, 45)

                                            button.btnDelete
                                                background-color: $color_red

                                                &:hover
                                                    box-shadow: 0px 0px 15px darken($color_gray, 5)
                                                    background-color: lighten($color_red, 5)

                                    tr:nth-child(even)
                                        background-color: $color_gray

                                    tr:nth-child(odd)
                                        background-color: $color_white
</style>