<template>
    <div class="buddhaHall">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card">
                        <div>
                            <h3>佛區管理</h3>
                            <p>佛區數: 2</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card">
                        <div>
                            <h3>佛堂管理</h3>
                            <p>大甲一區: 29</p>
                            <p>大甲二區: 63</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="sass" scoped>

</style>