@import '@/styles/color.sass'

*
    font-family: 'Times News Roman', sans-serif, '微軟正黑體'
    // border: 1px solid
    
body
    background-color: $color_gray

body::-webkit-scrollbar
    background-color: $color_gray
    height: 5px
    width: 10px

body::-webkit-scrollbar-track
    background-color: $color_gray

body::-webkit-scrollbar-thumb
    background-color: $color_blue

h1, h2, h3, h4, h5, h6
    margin: 0px

ul, ol
    list-style: none
    padding: 0px
    margin: 0px

p
    margin-bottom: 0px


label
    margin-bottom: 0px

.scroll::-webkit-scrollbar
    background-color: $color_blue
    height: 10px

.scroll::-webkit-scrollbar-track
    background-color: $color_gray

.scroll::-webkit-scrollbar-thumb
    background-color: $color_blue