<template>
    <div class="dashboard">
        <p>首頁</p>
        <div>{{sidebar}}</div>
        <div>{{device}}</div>
        <div>{{userName}}</div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'home',
        computed: {
            ...mapGetters([
                'sidebar',
                'device',
                'userName'
            ])
        }
    }
</script>

<style lang="sass" scoped>
</style>