<template>
    <div>
        <p>法會資料管理系統</p>        
    </div>
</template>

<script>
    export default {
        name: 'LegislativeCouncilManagement'
    }
</script>

<style lang="sass" scoped>
    
</style>