<template>
    <div class="login_container">
        <div class="login_form">
            <div class="header">
                <h3 v-text="title"></h3>
            </div>
            
            <hr>

            <div class="content">
                <div class="from_group">
                    <label class="lblTitle">帳號</label>
                    <input class="inpAccount" type="text" placeholder="請輸入帳號" ref="account" v-model="loginForm.account" :class="{error: validation.hasError('loginForm.account')}">
                    <p class="accountMsg">{{ validation.firstError('loginForm.account') }}</p>
                </div>
                
                <div class="from_group">
                    <label class="lblTitle">密碼</label>
                    <input class="inpPassword" type="password" placeholder="請輸入密碼" ref="password" v-model="loginForm.password" :class="{error: validation.hasError('loginForm.password')}">
                    <p class="passwordMsg">{{ validation.firstError('loginForm.password') }}</p>
                </div>

                <div class="from_group">
                    <p class="serverMessage" v-text="serverMessage"></p>
                </div>

                <div class="from_group">
                    <button class="btnlogin" type="button" v-on:click="handleLogin()">登入</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Validator } from 'simple-vue-validator';
    import defaultSettings from '@/settings.js';

    export default {
        name: 'login',
        data() {
            return {
                title: defaultSettings.title,
                loginForm: {
                    account: '',
                    password: ''
                },
                serverMessage: '',
                redirect: undefined,
                otherQuery: {}
            }
        },
        mounted() {
            if (this.loginForm.account === '')
            {
                this.$refs.account.focus();
            }
            else if (this.loginForm.password === '')
            {
                this.$refs.password.focus();
            }
        },
        watch: {
            $route: {
                handler(route) {
                    const query = route.query;
                    
                    if (query)
                    {
                        this.redirect = query.redirect;
                        this.otherQuery = this.getOtherQuery(query);
                    }
                },
                immediate: true
            }
        },
        validators: {
            'loginForm.account': function (value) {
                return Validator.value(value)
                                .required('帳號不得為空白')
                                .regex('^[A-Za-z0-9]*$', '僅允許大小寫英文及數字');
            },
            'loginForm.password': function (value) {
                return Validator.value(value)
                                .required('密碼不得為空白')
                                .regex('^[A-Za-z0-9]*$', '僅允許大小寫英文及數字');
            }
        },
        methods: {
            handleLogin() {
                this.$validate().then((success) => {
                    if (success)
                    {
                        this.$store.dispatch('user/login', this.loginForm).then(() => {
                            this.$router.push({ path: this.redirect || '/', query: this.otherQuery });
                        }).catch((error) => {
                            if (error.status === 400)
                            {
                                this.serverMessage = error.data.message;
                            }
                        });
                    }
                    else
                    {
                        console.log('error submit');
                    }
                });
            },
            getOtherQuery(query) {
                return Object.keys(query).reduce((acc, cur) => {
                    if (cur !== 'redirect') {
                        acc[cur] = query[cur];
                    }

                    return acc;
                }, {});
            }
        }
    }
</script>


<style lang='sass' scoped>
    @import '@/styles/color.sass'

    .login_container
        width: 100%
        min-height: 100vh
        background-color: $color_blue
        overflow: hidden

        .login_form
            width: 521px
            max-width: 100%
            margin: 150px auto 10px auto
            background-color: $color_white
            border-radius: 10px
            padding: 15px
            box-shadow: 0px 0px 15px darken($color_gray, 75)

            .header
                text-align: center
                
            .content
                text-align: center

                .from_group
                    padding: 10px

                    .lblTitle
                        margin-right: 50px
                        margin-bottom: 0px
                        font-size: 20px

                    .inpAccount, .inpPassword
                        width: calc( 100% -  90px)
                        padding: 10px 10px
                        border-radius: 5px
                        outline: none
                        border: 1px solid darken($color_gray, 25px)
                        transition: 0.5s

                        &:focus
                            border: 1px solid $color_blue

                    .inpAccount.error, .inpPassword.error
                        border: 1px solid $color_red                        

                    .btnlogin
                        width: 100%
                        padding: 10px
                        outline: none
                        background-color: $color_blue
                        color: $color_white
                        font-weight: 900
                        border: none
                        border-radius: 5px
                        
                        &:hover
                            background-color: lighten($color_blue, 5)

                    .accountMsg, .passwordMsg
                        margin: 5px
                        color: $color_red
                        text-align: right

                    .serverMessage
                        color: $color_red
                        margin: 0px
</style>
