<template>
    <div class="classesMangement">
        <!-- 搜尋區塊 -->
        <div class="search_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
                        <div class="block">
                            <!-- 班別 -->
                            <div class="group">
                                <label class="lblClasses">
                                    班別
                                </label>
                                <select class="seleClasses" v-model="classRoomForm.classes" @change="changeSearchModel(true)">
                                    <option :value="``">全部</option>
                                    <option :value="`1`">新民</option>
                                    <option :value="`2`">至善</option>
                                    <option :value="`3`">培德</option>
                                    <option :value="`4`">行德</option>
                                    <option :value="`5`">崇德</option>
                                </select>
                            </div>

                            <div class="group">
                                <label class="lblGender">性別</label>
                                <select class="seleGender" v-model="classRoomForm.gender" @change="changeSearchModel(true)">
                                    <option :value="``">全部</option>
                                    <option :value="`1`">乾道</option>
                                    <option :value="`0`">坤道</option>
                                </select>
                            </div>

                            <!-- 姓名搜尋 -->
                            <div class="group">
                                <input class="inpBarCode" type="text" placeholder="請輸入姓名" v-model="classRoomForm.name">
                                <button class="btnSearch" type="button" @click="changeSearchModel(true)">搜尋</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 新增班務 -->
        <div class="newClassRoom">
            <div class="container-fulid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <!-- 報表匯出 -->
                            <div class="group">
                                <button class="btnPush" @click="reportClassRoom()">報表輸出</button>
                            </div>

                            <!-- 新增班務 -->
                            <div class="group">
                                <button class="btnNewClassRoom" @click="addClassRoom()">新增班務</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 班務清單 -->
        <div class="classesList">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="scroll">
                            <table>
                                <thead class="header">
                                    <tr>
                                        <th>序號</th>
                                        <th>上課地點</th>
                                        <th>組別</th>
                                        <th>姓名</th>
                                        <th>性別</th>
                                        <th>班別</th>
                                        <th>所屬佛堂</th>
                                        <th>所屬區別</th>
                                        <th colspan="2">管理動作</th>
                                    </tr>
                                </thead>
                                
                                <tbody class="content" v-if="resClassRoom !== null && typeof(resClassRoom) === 'object'">
                                    <tr v-for="(item, index) in resClassRoom.classRoom" :key="index">
                                        <td v-text="index + nowPage * itemBarMenu - itemBarMenu + 1"></td>
                                        <td v-text="`${item.classLocation}`"></td>
                                        <td v-text="`${item.groupes}`"></td>
                                        <td v-text="`${item.name}`"></td>
                                        <td v-text="`${item.gender}`"></td>
                                        <td v-text="`${item.classes}`"></td>
                                        <td v-text="`${item.buddhaHall}`"></td>
                                        <td v-text="`${item.district}`"></td>
                                        <td>
                                            <button class="btnEditor" @click="editClassRoom(item.classRoomId)">編輯</button>
                                        </td>
                                        <td>
                                            <button class="btnDelete" @click="deleteClassRoom(item.classRoomId)">刪除</button>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody class="content" v-else>
                                    <tr>
                                        <td colspan="9" v-text="resClassRoom"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 分頁器 -->
                        <Pagination v-if="resClassRoom !== null && typeof(resClassRoom) === 'object'"
                                    @changePage="handleChangePage"
                                    @changeSize="handleChangeSize"
                                    :defaultPage.sync="nowPage"
                                    :pageSize="itemBarMenu"
                                    :pageSizes="[10, 20, 30, 50, 100]"
                                    :total="resClassRoom.total"></Pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Pagination from '@/components/Pagination/index.vue';
    import { GetClassRoomBase, GetClassRoomDetail, DeleteClassRoom, ReportClassRoom } from '@/api/classRoom';

    export default {
        name: 'classesMangement',
        components: {
            Pagination
        },
        data() {
            return {
                nowPage: 1,
                itemBarMenu: 10,
                resClassRoom: null,
                classRoomForm: {
                    classes: '',
                    gender: '',
                    name: '',
                    page: 1,
                    itemBarMenu: 10
                },
                model: true
            }
        },
        mounted() {
            this.changeSearchModel();
        },
        updated() {
            if (this.classRoomForm.name === '')
            {
                this.model = true;
            }
            else
            {
                this.model = false;
            }
        },
        watch: {
            nowPage: {
                handler() {
                    this.changeSearchModel();
                }
            },
            itemBarMenu: {
                handler() {
                    this.changeSearchModel();
                }
            }
        },
        methods: {
            addClassRoom() {
                this.$router.push('/classRoomMangement/new');
            },
            editClassRoom(classRoomId) {
                this.$router.push(`/classRoomMangement/md/${classRoomId}`);
            },
            getGetClassRoomBase(mode = false) { //取得班務資料，基本搜尋資料
                const classes = this.classRoomForm.classes;
                const gender = this.classRoomForm.gender;
                const page = (mode === false) ? this.classRoomForm.page = this.nowPage : this.classRoomForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.classRoomForm.itemBarMenu = this.itemBarMenu;

                GetClassRoomBase(classes, gender, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if(res.data.isSuccess === true)
                        {
                            this.resClassRoom = res.data.data;
                        }
                        else
                        {
                            this.resClassRoom = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        alert(error.data.message);
                    }
                });
            },
            getGetClassRoomDetail(mode = false) { //取得班務資料，詳細搜尋模式
                const classes = this.classRoomForm.classes;
                const gender = this.classRoomForm.gender;
                const name = this.classRoomForm.name;
                const page = (mode === false) ? this.classRoomForm.page = this.nowPage : this.classRoomForm.nowPage = this.nowPage = 1; //如果有刪除行為再開此模式
                const itemBarMenu = this.classRoomForm.itemBarMenu = this.itemBarMenu;

                GetClassRoomDetail(classes, gender, name, page, itemBarMenu).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.resClassRoom = res.data.data;
                        }
                        else
                        {
                            this.resClassRoom = res.data.message;
                        }
                    }
                }).catch((error) => {
                    if (error.status === 400)
                    {
                        alert(error.data.message);
                    }
                });
            },
            deleteClassRoom(classRoomId) { //刪除班務資料
                DeleteClassRoom(classRoomId).then((res) => {
                    setTimeout(() => {
                        if (res.status === 200)
                        {
                            if (res.data.isSuccess === true)
                            {
                                alert(res.data.message);
                                this.changeSearchModel(true);
                            }
                            else
                            {
                                alert(res.data.message);
                            }
                        }
                    }, 1000);
                }).catch((error) => {
                    setTimeout(() => {
                        if (error.status === 400 || error.status === 403)
                        {
                            alert(error.data.message);
                        }
                    }, 1000);
                });
            },
            reportClassRoom() { //匯出班務資料
                let classes = this.classRoomForm.classes;
                let gender = this.classRoomForm.gender;
                let name = this.classRoomForm.name;

                ReportClassRoom(classes, gender, name).then((res) => {
                    if (res.status === 200)
                    {
                        let blob = new Blob([res.data], {type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet; charset=UTF-8'});
                        let url = window.URL.createObjectURL(blob);
                        let a = document.createElement('a');

                        a.href = url;
                        a.click();
                        window.URL.revokeObjectURL(url);
                    }
                }).catch((error) => {
                    console.log(error);
                });
            },
            handleChangePage(val) {
                this.nowPage = val;
            },
            handleChangeSize(val) {
                this.itemBarMenu = val;
            },
            changeSearchModel(mode = false) {
                this.resClassRoom = null;

                if (this.model === true)
                {
                    this.getGetClassRoomBase(mode);
                }
                else
                {
                    this.getGetClassRoomDetail(mode);
                }
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'
    
    .classesMangement
        /** 搜尋區塊 */
        .search_block
            .container-fuild
                padding: 30px 15px 0px 15px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-lg-12
                        .block
                            padding: 15px 10px
                            border: 1px solid darken($color_gray, 25)
                            background-color: $color_white
                            
                            .group
                                display: inline-block
                                margin: 10px
                                
                                /** 班別 */
                                label.lblClasses, label.lblGender
                                    margin-left: 10px
                                    margin-right: 10px

                                select.seleClasses, select.seleGender
                                    outline: none
                                    padding: 7px 10px
                                    border: 1.5px solid darken($color_gray, 15)
                                    cursor: pointer
                                    border-radius: 2.5px
                                    transition: 0.5s

                                    &:hover
                                        border: 1.5px solid darken($color_gray, 30)
                                
                                /** 搜尋 bar */
                                input.inpBarCode
                                    margin-left: 10px
                                    margin-right: 10px
                                    padding: 5px 15px
                                    border-radius: 2.5px
                                    border: 1.5px solid darken($color_gray, 15)
                                    outline: none
                                    transition: 0.5s

                                    &:focus
                                        border: 1.5px solid $color_blue

                                button.btnSearch
                                    padding: 7px 30px
                                    background-color: $color_blue
                                    color: $color_white
                                    border: none
                                    border-radius: 5px
                                    outline: none
                                    transition: 0.5s

                                    &:hover
                                        background-color: lighten($color_blue, 5)

        /** 功能區塊 */
        .newClassRoom
            .container-fulid
                padding: 10px 10px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .block
                            padding: 10px 5px
                            text-align: right

                            .group
                                display: inline-block

                                button
                                    padding: 10px 15px
                                    margin-left: 10px
                                    border-radius: 2.5px
                                    transition: 0.5s

                                .btnPush
                                    background-color: transparent
                                    color: $color_blue
                                    border: 1px solid $color_blue

                                    &:hover
                                        background-color: $color_blue
                                        color: $color_white

                                .btnNewClassRoom
                                    background-color: $color_white
                                    border: 1px solid darken($color_gray, 25)

                                    &:hover
                                        background-color: darken($color_gray, 5)

        /**班務清單 */
        .classesList
            .container-fluid
                padding: 0px 10px 30px 10px

                .scroll
                    width: 100%
                    border: 1px solid darken($color_gray, 25)
                    overflow-x: auto
                    overflow-y: hidden

                    table
                        width: 100%
                        border: 1px solid darken($color_gray, 25)
                        
                        thead.header
                            tr
                                background-color: $color_blue
                                border-bottom: 1px solid darken($color_gray, 25)
                                white-space: nowrap
                                
                                th
                                    padding: 10px 10px
                                    color: $color_white
                                    white-space: nowrap

                                th:nth-child(1), th:nth-child(2) , th:nth-child(3) , th:nth-child(4) , th:nth-child(5),
                                th:nth-child(6) , th:nth-child(7) , th:nth-child(8) 
                                    text-align: center

                        tbody.content
                            tr
                                border-bottom: 1px solid darken($color_gray, 25)

                                &:hover
                                    box-shadow: inset 8px 0px $color_blue

                                td
                                    padding: 10px 10px
                                    white-space: nowrap

                                td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5),
                                td:nth-child(6), td:nth-child(7), td:nth-child(8)
                                    text-align: center

                                button.btnEditor, button.btnDelete
                                    color: $color_white
                                    padding: 6px 30px
                                    border: none
                                    border-radius: 2.5px
                                    transition: 0.5s

                                button.btnEditor
                                    background-color: $color_blue

                                    &:hover
                                        box-shadow: 0px 0px 15px darken($color_gray, 5)
                                        background-color: lighten($color_blue, 5)

                                button.btnDelete
                                    background-color: $color_red
                                    
                                    &:hover
                                        box-shadow: 0px 0px 15px darken($color_gray, 5)
                                        background-color: lighten($color_red, 5)

                            tr:nth-child(even)
                                background-color: $color_gray

                            tr:nth-child(odd)
                                background-color: $color_white

        .dialogbox
            .btnSave, .btnClose
                padding: 10px 30px
                border-radius: 2.5px
                border: none

            .btnSave
                background-color: $color_blue
                color: $color_white
                margin-right: 20px

                &:hover
                    background-color: lighten($color_blue, 5)

            .btnClose
                background-color: darken($color_gray, 20)
                
                &:hover
                    background-color: lighten($color_gray, 2)
</style>