<template>
    <div class="appWrapper">
        <div v-if="device === 'mobile' && sidebar.opened" class="drawer_bg" @click="handleClickOutside"></div>
        
        <!-- 側邊攔 -->
        <Sidebar></Sidebar>

        <!-- 主容器 -->
        <div class="main_container" :class="isCollapse">
            <!-- 導覽列 -->
            <Navbar></Navbar>
            
            <!-- 應用主體 -->
            <AppMain></AppMain>

            <!-- 聯絡方式 -->
            <Footer></Footer>
        </div>

        <!-- 系統公告 -->
        <SystemPost></SystemPost>
    </div>
</template>

<script>
    import { AppMain, Navbar, Sidebar, Footer, SystemPost } from './components';
    import ResetMixin from './mixin/ResetHandle';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Layout',
        components: {
            AppMain,
            Navbar,
            Sidebar,
            Footer,
            SystemPost
        },
        mixins: [ResetMixin],
        methods: {
            handleClickOutside() {
                this.$store.dispatch('app/closeSideBar', { withoutAnimation: false })
            }
        },
        computed: {
            ...mapGetters([
                'sidebar',
                'device'
            ]),
            isCollapse() {
                return {
                    openSidebar: this.sidebar.opened,
                    hideSidebar: !this.sidebar.opened,
                    mobile: this.device === 'mobile'
                }
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/minix.sass'
    @import '@/styles/color.sass'

    .drawer_bg
        position: fixed
        width: 100%
        height: 100%
        top: 0px
        z-index: 50
        opacity: 0.3
        background-color: $color_black

    .main_container
        min-height: 100%
        -webkit-transition: margin-left .28s
        transition: margin-left .28s
        margin-left: $size
        position: relative

    /** desktop */
    .main_container.openSidebar
        margin-left: #{$size}px
        
    .main_container.hideSidebar
        margin-left: 0px
        
    /** mobile */
    .main_container.openSidebar.mobile, .main_container.hideSidebar.mobile
        margin-left: 0px
</style>